
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table width="1000" align="center">
        <tr>
            <td width="1000" align="center"><b>HAYATIM</b></td>
        </tr>
        <tr>
            <td>
                <img src="parasut2.png" width="1000" height="300" />
            </td>
        </tr>
    </table>

        <table width="1000" align="center" border="0">
            <tr>
                <td align="center">
                    <font color="00000" size="4">
                        <center> ÜZGÜN PALYAÇO HİKAYESİ</center>
                    </font>
                    <font color="444444" size="2">
                        <img src="palyaco.png" width="250" align="left" />
                    </font>
                    Bir gün psikiyatristin muayehanesine çok üzgün vaziyette birisi gelmiş ve başlamış anlatmaya;

                    <p>– Benim ekonomik durumum iyi. Maddi anlamda bir sıkıntım yok. Sağlık sorunumda yok. Ancak başka bir sorunum var.</p>

                    – Nedir o?

                    – Neşelenemiyorum. Sürekli moralim bozuk. Şöyle gülmek, bazen kahkaha atmak, eğlenmek istiyorum. İşte bunun için size geldim.

                    – Arkadaş, işin doğrusu bu olay, benim uzmanlık alanıma girmiyor. Ancak sana bir öneride bulunabilirim. Şu karşıya 10 gün önce bir sirk geldi. Bir de palyaço var.

                    Ben gittim. Çok güzeldi, özellikle de o palyaço harikaydı. Gülmekten yerlere yattım, o kadar çok eğlendim ki…  Sana da o sirke gitmeni özellikle o palyaçoyu seyretmeni öneririm.

                    Bunun üzerine adamın suratı iyice asılmış ve adeta fısıltı halinde demiş ki;

                    – O palyaço var ya… O benim işte…
                    Hayatakarken çevrenizdeki insanların mutluluğu için çabalarken acaba siz mutlu olmak için ne yapıyorsunuz?

                </td>


        </table>

</body>
</html>
